.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







.invoice-POS {
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding: 2mm;
  margin: 18px auto;
  width: 66mm;
  background: #fff;
  color: #333;
}
.invoice-POS ::selection {
  background: #f31544;
  color: #fff;
}
.invoice-POS ::moz-selection {
  background: #f31544;
  color: #fff;
}
.invoice-POS h1 {
  font-size: 1.5em;
  color: #222;
}
.invoice-POS h2 {
  font-size: 0.9em;
}
.invoice-POS h3 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
.invoice-POS p {
  font-size: 0.7em;
  color: #666;
  line-height: 1.2em;
}
.invoice-POS .top,
.invoice-POS .mid,
.invoice-POS .bot {
  /* Targets all id with 'col-' */
  border-bottom: 1px solid #eee;
}
.invoice-POS .top {
  min-height: 100px;
}
.invoice-POS .mid {
  min-height: 80px;
}
.invoice-POS .bot {
  min-height: 50px;
}
.invoice-POS .top .logo {
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
  background-size: 60px 60px;
}
.invoice-POS .clientlogo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
}
.invoice-POS .info {
  display: block;
  margin-left: 0;
}
.invoice-POS .title {
  float: right;
}
.invoice-POS .title p {
  text-align: right;
}
.invoice-POS table {
  width: 100%;
  border-collapse: collapse;
}
b{
  color: black;
}
.invoice-POS .tabletitle {
  font-size: 0.8em;
  color: black;
  padding: 8px 13px;
  margin: 3px -2mm;

  background: #eee;
}

.mid center { font-size: 0.7em;}

.invoice-POS .service {
  border-bottom: 1px solid #eee;
}
.invoice-POS .item {
  width: 24mm;
}
.invoice-POS .itemtext {
  font-size: 0.5em;
}
.invoice-POS #legalcopy {
  margin-top: 5mm;
}

.invoice-POS h1{
  margin: 8px;
}
.invoice-POS h4{
  margin: 13px;
}